@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Young+Serif&display=swap");
:root {
  /* Color Variables */
  --white: hsl(0, 100%, 100%);
  --grey: hsl(0, 0%, 58%);
  --red: hsl(4, 100%, 67%);
  --blue-800: hsl(234, 29%, 20%);
  --blue-700: hsl(235, 18%, 26%);
  /* --gradient-4: linear-gradient(to right, hsl(15, 100%, 61%), hsl(346, 100%, 66%)); */
  --gradient-color-1: hsl(15, 100%, 61%);
  --gradient-color-2: hsl(346, 100%, 66%);

  /* Typography (All letter spacing 0px)*/
  --txt-size-56px: 56px; /*Text Preset 1 - Roboto bold, 100% line-height*/
  --txt-size-88px: 88px; /*Text Preset 1 Mobile - Roboto bold, 100% line-height*/
  --txt-size-40px: 40px;
  --txt-size-16px: 16px; /*Text Preset 2 - Roboto bold/regular, line-height 150%*/
  --txt-size-12px: 12px; /*Text Preset 3 - Roboto bold, line-height 150%*/
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Outfit", serif;
  background: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

ul {
  list-style-type: none;
  padding: 0;
}
/* label,
input {
  display: block;
} */
input {
  display: block;
  font-size: var(--txt-size-16px);
  width: 100%;
  padding: 16px 24px;
  margin-top: 5px;
  margin-bottom: 10px;
  border-radius: 0.5rem;
}
p {
  font-size: var(--txt-size-16px);
  margin-bottom: 20px;
}
h1 {
  font-size: var(--txt-size-56px);
  margin-bottom: 24px;
}
h1,
p {
  color: var(--blue-800);
}
.email-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
}
.error-msg {
  position: absolute;
  right: 0;
}

.sub-btn {
  margin-bottom: 10px;
}
.dismiss-btn,
.sub-btn {
  font-size: var(--txt-size-16px);
  font-weight: bold;
  color: var(--white);
  width: 100%;
  padding: 16px 24px;
  border-radius: 0.5rem;
  background-color: var(--blue-800);
  border-style: none;
}

.dismiss-btn {
  margin-top: auto;
}

.success-msg-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  /* min-height: 80vh; */
  /* height: 842px; */
  /* width: 375px; */
  padding: 40px 20px;
  background: white;
  border-radius: 10px;
  visibility: hidden;
  /* opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease; */
}

.success-icon {
  height: 64px;
  width: 64px;
}
.success-msg-container.show {
  display: flex;
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}
.inner-success-container {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}
.dismiss-btn {
  margin-top: auto;
  width: 100%;
  padding: 15px;
  background: hsl(234, 29%, 20%);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.dismiss-btn:hover {
  background: hsl(234, 29%, 30%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Responsive  Media queries */
/* Mobile size  390px - 600px*/
@media only screen and (max-width: 390px) {
  label {
    font-size: var(--txt-size-12px);
    margin-bottom: 5px;
  }
  input {
    width: 100%;
  }
  h1 {
    font-size: var(--txt-size-40px);
    margin-bottom: 24px;
  }
  .signup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 375px;
    margin: 0 auto;
    /* border: 1px solid black; */
  }

  .mobile-svg-img {
    height: 284px;
    width: 375px;
    margin-bottom: 40px;
  }
  .desktop-svg-img {
    display: none;
  }

  .inner-success-container {
    height: 623px;
    width: 327px;
  }
}
/* Tablet size 768px*/
@media only screen and (min-width: 391px) and (max-width: 768px) {
  body {
    background: var(--blue-800);
    min-height: 100vh;
  }

  .signup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 608px;
    height: 878px;
    /* margin: 0 auto; */
    padding: 3rem;
    background-color: var(--white);
    border-radius: 2rem;
    /* border: 1px solid black; */
    margin-top: 100px;
  }

  .mobile-svg-img {
    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem;
    height: 358.29px;
    width: 528px;
    margin-bottom: 20px;
  }
  .desktop-svg-img {
    display: none;
    /* visibility: hidden; */
  }

  .success-msg-container {
    height: 520px;
    width: 504px;
    justify-content: space-around;
    padding: 0px 5px;
  }
  img.success-icon {
    margin: 10px 0px;
  }
  .inner-success-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 50px;
    /* justify-content: space-between; */
  }

  /* .inner-success-container {
    height: 520px;
    width: 504px;
  } */
}

/* Desktop size 992px, 1200px, 1440px*/
@media only screen and (min-width: 769px) and (max-width: 1440px) {
  body {
    background: var(--blue-800);
    min-height: 100vh;
  }

  input {
    margin-bottom: 1.5rem;
  }
  /* .dismiss-btn:focus,
.sub-btn:focus {
  color: var(--white);
  background-color: linear-gradient(to right, var(--gradient-color-1), var(--gradient-color-2));
}
  input:focus, input:hover, button.sub-btn:hover{
    color: var(--gradient-4);
  } */
  section.signup-container {
    display: grid;
    place-items: center;
    margin-block: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 904px;
    height: 641px;
    padding: 3rem;
    background-color: var(--white);
    border-radius: 2rem;
    margin-top: 100px;
  }

  .inner-signup {
    display: flex;
    gap: 1rem;
    flex-direction: row-reverse;
    align-items: center;
    width: 100%;
  }
  .mobile-svg-img {
    display: none;
  }
  .desktop-svg-img {
    height: 593px;
    width: 400px;
    /* margin-bottom: 40px; */
    /* margin-left: auto; */
    /* padding-bottom: 20px; */
  }
  .success-msg-container {
    height: 520px;
    width: 504px;
    justify-content: space-around;
    padding: 0px 5px;
  }
  .inner-success-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 50px;
    /* justify-content: space-between; */
  }
}
